src/conf/xml-resources/web-service-references/serviceme/wsdl/localhost_8080/cats/serviceme.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="ID" type="tns:ID"/>

<xs:element name="IDResponse" type="tns:IDResponse"/>

<xs:element name="UserName" type="tns:UserName"/>

<xs:element name="UserNameResponse" type="tns:UserNameResponse"/>

<xs:complexType name="ID">
<xs:sequence>
<xs:element name="name" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>